$primary-color: #F00;

@mixin div-style {
  height: 200px;
  width: 100%;

}

body {
  background-color: $primary-color;
}

#div1 {
  @include div-style;
  background-color: #00F;
}

#div2 {
  @include div-style;
  background-color: #0F0;
}
